.bordered {
  border: solid;
  border-width: 1px;
  border-color: rgb(207, 207, 207);
  margin: 5px;
  padding: 5px;
}

h1 {
  color: rgb(53, 53, 53)
}

p {
  color: rgb(53, 53, 53)
}

.hide-border {
  border: none;
}

.lane {
  width: auto;
}

.topmenu {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to left top, rgb(221, 221, 221), rgb(250, 250, 250));
  margin-bottom: 8px;
}

.column {
  position: relative;
  flex: 1 1 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

.columnHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  width: 100%
}

.columnContainerWrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.taskContainerWrapper {
  width: 100%;
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.laneHeader {
  justify-content: space-between;
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 5px;
}

.task {
  padding: 10px;
  margin: 4px;
  width: 100%;
  min-width: 175px;
}

.taskStyling {
  background: linear-gradient(to top left, rgb(255, 246, 196), rgb(252, 247, 221));
  border: 0 solid rgb(211, 204, 163);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
}

.columnStyling {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  margin: 4px;
  background: linear-gradient(to left top, rgb(243, 243, 243), rgb(250, 250, 250));
}

.laneStyling {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  margin-bottom: calc(8px);
  background: linear-gradient(to left top, rgb(221, 221, 221), rgb(250, 250, 250));
}